@media (max-width: 1200px) {
    .under-head .mobile-btn {
        display: none ;
    }

}
@media (max-width: 900px) {
    .wrapper {
        width: auto;
        margin: 0 auto;	
    }
    .under-head .mobile-btn {
        display: none ;
    }
}
@media (max-width: 600px) {
    .head{
    }
    .wrapper {
        width: auto;
        margin: 0 auto;	
    }
    .head .social {	
        display: flex;
        align-items: center;
        margin-left: 60%;
    }
    .hidden-on-small{
        display: none;
    }
    .under-head .btn {
        display: none;
    }
    .under-head .mobile-btn {
        display: flex;
        font-size: 40px; 
        cursor: pointer;
    }
    .under-head .buttons {
        display: flex;
        align-items: center;
    }
    .service .line {
        margin-left: 44%;
        margin-right: 44% ;
    }
    .block .box {
        margin: 10px 0; 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .service .block {
        width: 100%;
    }
}